<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328082271684-m7hi0db8211gtknb70ejn3plngk0fqfr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328082271684-m7hi0db8211gtknb70ejn3plngk0fqfr</string>
	<key>API_KEY</key>
	<string>AIzaSyDo6hmdE9gc9v2pJW-0LR2nvMJVXpVECsE</string>
	<key>GCM_SENDER_ID</key>
	<string>328082271684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shokeen.Learnbowl</string>
	<key>PROJECT_ID</key>
	<string>learn-bowl-d417c</string>
	<key>STORAGE_BUCKET</key>
	<string>learn-bowl-d417c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328082271684:ios:4baf4ce91a8324c9110891</string>
</dict>
</plist>